.pet_name{
	font-weight: normal;
	font-style: italic;
}

.red_column{
	color: red;
}

.blue_column{
	color: blue;
}

.term:hover  + .definition{
	background: purple;
}

.form_line{
	display: inline-block;
	width: 150px;
	text-align: right;
}

.radio_button{
	padding-left: 117px;
}

.submit_button{
	margin-left: 122px;
}

.forms{
	margin-top: 20px;
	border: solid;
	width: 385px;
	margin-bottom: 20px;
}